@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,200;1,400;1,600&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
}
body,
html {
  font-family: "Roboto", sans-serif !important;
}
body {
  overflow-x: hidden;
}
/* sign up modal  */
.modal-body {
  height: 380px;
  overflow-y: auto;
}

.map-container {
  height: 100%;
  width: 100%;
}
.form-control {
  border-color: black !important;
}
.form-control p {
  font-size: 13px;
  font-weight: 600;
}
.form-control :focus {
  outline-color: black !important;
  outline: black !important;
  border-color: black !important;
  box-shadow: none !important;
}
.underline {
  width: 20rem;
  height: 0.1rem;
  border: 1px solid lightgrey;
}
.underline span {
  font-size: 0.3rem;
}
.butn-cont button {
  background-color: white;
  color: black;
  border-color: black;
  border-width: thin;
  border-radius: 8px;
  height: 50px;
}

.otp {
  border: 1px solid grey;
  height: 50px;
  width: 180px;
  border-radius: 10px;
}
.otp :focus {
  border: 1px solid black;
}
.Angle-left {
  cursor: pointer;
}
.existingImg {
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.iconImage {
  width: 100%;
  height: 100%;
}
.save {
  border-radius: 10px;
  border: 1px solid black;
  background-color: black;
  color: white;
}
.modal-backdrop {
  opacity: 0.3 !important;
}
.Navfooter {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0px;
  border-top: 3px solid grey;
}
.Navfooterbtn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: black;
  color: white !important;
  font-weight: 600;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disabledbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  color: white !important;
  font-weight: 600;
  border-width: thin;
  border-color: rgb(218, 216, 216);
  outline: none;
}
/* a:hover { */
/* color: black !important; */
/* } */
