.property{
display: none;
}
@media only screen and (max-width: 735px) {
 .propertyi{
  display: flex; padding: 13px;
  border-bottom: 1px solid grey; justify-content: space-between; align-items: center;
  
 }
}