.firstSection {
  width: 64%;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
}
.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(91, 86, 86);
}
.plusButtons {
  display: none;
}

.Listings main {
  margin-top: 20px;
  height: 250px;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.Listings div {
  border-radius: 8px;
  border: 1px solid rgb(239, 239, 239);
  height: 230px;
  width: 280px;
  object-fit: cover;
  overflow: hidden;
}
.Listings article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-content: space-between;
  align-content: center;
}
.Listings img {
  width: 100%;
  height: 100%;
}
.Listings span {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  background-color: white;
  color: grey;
  font-size: 22px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.edit {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  background-color: white;
  color: grey;
  font-size: 22px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media only screen and (max-width: 1010px) {
  .createButton {
    display: none;
  }
  .plusButtons {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid rgb(91, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  .Listings article {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .firstSection {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
  }
}
