.image {
  height: 30px;
  display: none;
}
.web {
  display: none;
}
.mobile {
  position: sticky;
  top: 0px;
  border: 1px solid rgb(223, 223, 223);
  padding: 20px;
  background-color: white;
}

.saveexit {
  width: 100px;
  font-weight: 400;
  display: flex;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(180, 178, 178);
  padding: 7px;
}
.saveexit:hover {
  border: 1px solid black;
}
.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  flex-wrap: wrap;
}

.airbnb {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.airbnb h1 {
  font-size: 30px;
}
.img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
}
article {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  align-items: center;
  padding: 30px 0px;
  border-bottom: 1px solid lightgray;
}
.img img {
  width: 100%;
}
.footer {
  display: flex;
  justify-content: end;
  padding: 20px;
  border-top: 2px solid lightgray;
  position: sticky;
  bottom: 0px;
  width: 100%;
  background-color: white;
}
.footer button {
  width: 100%;
}

@media only screen and (min-width: 735px) {
  .image {
    height: 30px;
    display: block;
  }
  .airbnb {
    height: 100vh;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .airbnb h1 {
    font-size: 60px;
    padding: 50px;
  }
  .web {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    padding: 20px;
  }
  .mobile {
    display: none;
  }
  .footer button {
    width: 150px;
  }
}
