.mainDivs {
  width: 80%;
  margin: auto;
  padding: 0px 40px;
}
.divAboveGrid div {
  min-width: 280px;
  height: 156px;
  border-radius: 20px;
}
.divAboveGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-content: space-between;
  align-content: center;
}

.textCard {
  cursor: pointer;
  line-height: 17px;
}
.imgMobile {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.webAccount {
  display: none;
}
.mobileAccount {
  display: block;
}
.iconAccount {
  font-size: 20px;
  margin-top: -7px;
  position: absolute;
  right: 25px;
}
.iconAccount2 {
  font-size: 20px;
  margin-top: 5px;
  position: absolute;
  right: 25px;
}
.imgAirbnb {
  font-size: 20px;
  margin-top: -45px;
  position: absolute;
  right: 35px;
}
.logout {
  width: 100%;
  margin-top: 10px;
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  transition: 0.3s;
}
.logout:hover {
  background-color: rgb(240, 220, 220);
}

@media only screen and (min-width: 735px) {
  .webAccount {
    display: block;
  }
  .mobileAccount {
    display: none;
  }
}
