.PersonalInfo {
  width: 80%;
  margin: auto;
}

.PersonalInfo span {
  font-size: 0.9rem;
}
.PersonalInfo h2 {
  color: rgb(56, 56, 56);
  font-weight: 600;
}
.info {
  width: 600px;
}

.info main {
  width: 100%;
  padding: 15px 0px;
  border-bottom: 1px solid rgb(167, 164, 164);
}
.info p {
  color: rgb(148, 148, 148);
}
.info span {
  font-size: 17px;
}
.info button {
  background-color: white;
  border: none;
  text-decoration: underline;
}
.questions {
  display: none;
}
.personal-info {
  display: none;
}
.personal-info a:hover {
  text-decoration: underline;
}
.angle {
  display: block;
}
.space {
  margin: 40px 0px;
}
@media only screen and (min-width: 735px) {
  .questions {
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    display: block;
  }
  .questions p {
    color: grey;
  }
  .personal-info {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .angle {
    display: none;
  }
  .space {
    display: none;
  }
}
