.image {
  height: 30px;
  display: none;
}
.web {
  display: none;
}
.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  border: 1px solid rgb(223, 223, 223);
  background-color: white;
  padding: 20px;
}
.exitMobile {
  font-weight: 400;
  display: flex;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(180, 178, 178);
  padding: 5px 15px;
}
.exitMobile:hover {
  border: 1px solid black;
}
.exit {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(180, 178, 178);
  padding: 5px 15px;
  display: none;
}
.exit:hover {
  border: 1px solid black;
  display: none;
}

.icon {
  font-size: 35px;
}
a {
  text-decoration: none !important;
  color: black;
}

a :hover {
  color: black;
}
@media only screen and (min-width: 735px) {
  .image {
    height: 30px;
    display: block;
  }
  .exit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exit:hover {
    border: 1px solid black;
    display: block;
  }
  .exitMobile {
    display: none;
  }
  .web {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    padding: 20px;
  }
  .mobile {
    display: none;
  }
}
