.structure {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}
.structure h2 {
  padding: 0px 200px 0px 0px;
}
.structure main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.structures {
  min-width: 210px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin: 10px 0px;
  padding: 10px;
}
.structure p {
  font-size: 30px;
  font-weight: 500;
}
.structures:hover {
  border: 2px solid black;
}
p a:hover {
  color: black;
}
.structuresClicked {
  min-width: 210px;
  background-color: rgb(240, 240, 240);
  height: 100px;
  border-radius: 8px;
  border: 2px solid black;
  margin: 10px 0px;
  padding: 10px;
}
@media only screen and (max-width: 635px) {
  .structures {
    min-width: 150px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid lightgrey;
  }
  .structuresClicked {
    min-width: 150px;
    height: 100px;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    border: 2px solid black;
    margin: 10px 0px;
    padding: 10px;
  }
  .structure h2 {
    font-size: 20px;
    padding: 0px;
  }
  .structure {
    max-width: 100%;
    margin: 10px 0px;
  }
}
